* {
    --unit: 0.5rem;
    --button-height: var(--unit);
    --button-radius: calc(var(--button-height) / 2);
    font-size: clamp(11px, min(11vw, 11vh), 24px);
}
h1{
    font-weight: bolder;
    font-size: 4rem;
}

.title {
    font-weight: bolder;
    text-align: center;
    font-size: 3rem;
}

.card .title {
    font-weight: bolder;
    text-align: left;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
}

body {
    text-align: center;
    color: #ddd;
    background-color: #003366;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.deck {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--unit);
    display: block;
}

.card {
    color: #003366;
    background-color: #eeeeee;
    padding: var(--unit) var(--unit);
    font-size: 0.9rem;
    border-radius: var(--unit);
    box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
    margin: var(--unit);
    width: 20rem;

    display: inline-block;
    position: relative;
    user-select: none;
    vertical-align: top;
}

.desc {
    /* width: calc(clamp(10rem, 30vw, 40rem) - 2rem); */
    width: 80%;
    min-height:9rem;
    margin-right: var(--button-height);
    padding-right: var(--button-height);
}

.desc,
.desc * {
    text-align: left;
    font-size: 1rem;
    line-height: 1rem;
    font-family: ;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.card .btn {
    z-index: 1;
    position: absolute;
    right: var(--unit);
    bottom: var(--unit);
    margin: var(--unit);
    background-color: goldenrod;
    /* padding: var(--button-radius); */
    border-radius: var(--unit);
    width: auto;
    /* height: var(--button-height); */
    text-align: center;
    padding: 0 var(--unit);
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.off {
    transition: all ease-in 300ms;
    margin-left: -120%;
    opacity: 0;
    z-index: -1;
}

.on {
    transition: all ease-in 300ms;
    margin-left: 0;
    opacity: 1;
    z-index: 1;
}